$border-radius: 4px !default;
// Pell
$pell-actionbar-color: #fff !default;
$pell-border-color: rgba(10, 10, 10, 0.1) !default;
$pell-border-style: solid !default;
$pell-border-width: 1px !default;
$pell-button-height: 30px !default;
$pell-button-selected-color: #f0f0f0 !default;
$pell-button-width: 30px !default;
$pell-content-height: 300px !default;
$pell-content-padding: 10px !default;
// Image uploader
$image-uploader-bg-color: #f1f3f5 !default;
$image-uploader-label-color: #999 !default;
$image-uploader-action-bar-color: #fff !default;
$image-uploader-action-bar-bg-color: rgba(0, 0, 0, 0.45) !default;
$image-uploader-action-bar-padding: 1rem 2rem !default;
// Inline spinner
$inline-spinner-bg-color: #f1f1f1 !default;
$inline-spinner-padding: 0.5rem !default;
// Date picker
$date-picker-zindex: 20 !default;
$date-picker-range-bg-color: #f0f8ff !default;
$date-picker-range-color: #4a90e2 !default;
// Float labels
$float-label-font-size: 0.75rem !default;
$float-label-position-top: -0.5em !default;
$float-label-bg-color: #fff !default;
$float-label-line-padding: -0.2em !default;
// Rate
$rate-color: #fadb14 !default;
$rate-bg-color: #e8e8e8 !default;
// Slider
$slider-height: 4px !default;
$slider-bg-color: currentColor !default;
$slider-handle-bg-color: #fff !default;
$slider-handle-size: 1rem !default;
