.sc-chat-window {
  background: white;
  border-radius: 10px;
  bottom: 100px;
  box-shadow: 0 7px 40px 2px rgba(148, 149, 150, 0.3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - 120px);
  justify-content: space-between;
  max-height: 590px;
  overflow: hidden;
  position: fixed;
  right: 25px;
  transition: 0.3s ease-in-out;
  width: 370px;
  z-index: 200;

  &.closed {
    bottom: 90px;
    opacity: 0;
    visibility: hidden;
  }
}

.sc-message-list {
  height: 100%;
  overflow-y: auto;
  background-color: white;
  background-size: 100%;
  padding: 0 0 1rem;
}

.sc-message--me {
  text-align: right;
}

.sc-message--them {
  text-align: left;
}

@media (max-width: 450px) {
  .sc-chat-window {
    border-radius: 0;
    bottom: 0;
    height: 100%;
    max-height: 100%;
    right: 0;
    transition: 0.1s ease-in-out;
    width: 100%;

    &.closed {
      bottom: 0;
    }
  }
}
