@import 'scss/variables';
@import '~bootstrap/scss/bootstrap';

@import 'scss/base';
@import 'scss/buttons';
@import 'scss/hover';
@import 'scss/forms';
@import 'scss/card';

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
//   background-color: rgba(0, 0, 0, 0);
//   -webkit-border-radius: 100px;
// }

// ::-webkit-scrollbar:hover {
//   background-color: rgba(0, 0, 0, 0.09);
// }

// ::-webkit-scrollbar-thumb {
//   background: rgba(0, 0, 0, 0.5);
//   -webkit-border-radius: 100px;
// }
// ::-webkit-scrollbar-thumb:active {
//   background: rgba(0, 0, 0, 0.61); /** Some darker color when you click it */
//   -webkit-border-radius: 100px;
// }

// /* add vertical min-height & horizontal min-width */
// ::-webkit-scrollbar-thumb:vertical {
//   min-height: 10px;
// }
// ::-webkit-scrollbar-thumb:horizontal {
//   min-width: 10px;
// }
