.ant-slider {
  cursor: pointer;
  list-style: none;
  padding: 1rem 0;
  position: relative;
}

.ant-slider-vertical {
  width: 12px;
  height: 100%;
  margin: 6px 10px;
  padding: 0 4px;

  .ant-slider-rail {
    height: 100%;
    width: 4px;
  }

  .ant-slider-track {
    width: 4px;
  }

  .ant-slider-handle {
    margin-left: -5px;
    margin-bottom: -7px;
  }

  .ant-slider-mark {
    top: 0;
    left: 12px;
    width: 18px;
    height: 100%;
  }

  .ant-slider-mark-text {
    left: 4px;
    white-space: nowrap;
  }

  .ant-slider-step {
    width: 4px;
    height: 100%;
  }

  .ant-slider-dot {
    top: auto;
    left: 2px;
    margin-bottom: -4px;
  }
}

.ant-slider-with-marks {
  margin-bottom: 28px;
}

.ant-slider-rail {
  background-color: $rate-bg-color;
  border-radius: $slider-height / 2;
  height: $slider-height;
  position: absolute;
  transition: background-color 0.3s;
  width: 100%;
}

.ant-slider-track {
  background-color: $slider-bg-color;
  border-radius: $slider-height;
  height: $slider-height;
  position: absolute;
  transition: background-color 0.3s ease;
}

.ant-slider-handle {
  background-color: $slider-handle-bg-color;
  border: solid 2px $slider-bg-color;
  border-radius: 50%;
  cursor: pointer;
  height: $slider-handle-size;
  margin-left: -($slider-handle-size / 2);
  position: absolute;
  top: 2px;
  transition: border-color 0.3s,
    transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transform: translateY(50%);
  width: $slider-handle-size;

  &:focus {
    border-color: #46a6ff;
    box-shadow: 0 0 0 5px #8cc8ff;
    outline: none;
  }

  &.ant-tooltip-open {
    border-color: $slider-bg-color;
  }
}

// .ant-slider:hover .ant-slider-rail {
//   background-color: #e1e1e1;
// }

// .ant-slider:hover .ant-slider-track {
//   background-color: #69c0ff;
// }

// .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
//   border-color: #69c0ff;
// }
.ant-slider-mark {
  font-size: 14px;
  left: 0;
  position: absolute;
  top: 1.75rem;
  width: 100%;
}

.ant-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45);
}

.ant-slider-mark-text-active {
  color: rgba(0, 0, 0, 0.65);
}

.ant-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}

.ant-slider-dot {
  position: absolute;
  top: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e8e8e8;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}

.ant-slider-dot:first-child {
  margin-left: -4px;
}

.ant-slider-dot:last-child {
  margin-left: -4px;
}

.ant-slider-dot-active {
  border-color: #8cc8ff;
}

.ant-slider-disabled {
  cursor: not-allowed;
}

.ant-slider-disabled .ant-slider-track {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.ant-slider-disabled .ant-slider-handle,
.ant-slider-disabled .ant-slider-dot {
  border-color: rgba(0, 0, 0, 0.25) !important;
  background-color: #fff;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ant-slider-disabled .ant-slider-mark-text,
.ant-slider-disabled .ant-slider-dot {
  cursor: not-allowed !important;
}
