@import './typography';

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overscroll-behavior: none;
  overflow: hidden;
}

#root {
  height: 100%;
}

body {
  // -moz-font-feature-settings: 'liga' on;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-font-smoothing: antialiased;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
}

// @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
//   only screen and (min-device-pixel-ratio: 1.25),
//   only screen and (min-resolution: 200dpi),
//   only screen and (min-resolution: 1.25dppx) {
//   // -webkit-font-smoothing: subpixel-antialiased;
// }

.container {
  @include media-breakpoint-up(xl) {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }

  // padding: 0;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(xl) {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    html {
      // font-size: 1.0625rem;
      // font-size: 1.125rem;
    }
    // }
  }
}

// @include media-breakpoint-up(xl) {
//   @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//     html {
//       font-size: 1.125rem;
//     }
//   }
// }

// *:not(html) {
//   -webkit-transform: translate3d(0, 0, 0);
// }

.section-header {
  margin-bottom: $grid-gutter-width;
  text-align: center;
}

.section-title {
  font-weight: 700;
  margin-bottom: $grid-gutter-width / 8;
}

.section-subtitle {
  font-weight: 300;
  text-transform: none;
}

hr {
  margin: 1rem 0;

  &.inverse {
    border-top-color: $body-bg;
  }

  &.hr-md {
    margin: 1.5rem 0;
  }

  &.hr-sm {
    margin: 0.5rem 0;
  }
}
