.form-loader {
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.form-group {
  & > label {
    font-size: 90%;
    // color: $text-muted;
  }
}

[placeholder] {
  text-overflow: ellipsis;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-overflow: ellipsis;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-overflow: ellipsis;
}
:-ms-input-placeholder {
  /* IE 10+ */
  text-overflow: ellipsis;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-overflow: ellipsis;
}
