.text-book {
  font-weight: 400;
}

// .text-light {
//   font-weight: 300;
// }

.text-medium {
  font-weight: 500;
}

.text-heavy {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.text-muted-inverse {
  color: #fafafa;
}

.text-preverse-breaks {
  white-space: pre-wrap;
}

.text-highlight {
  background-color: #f6f400;
}

.text-uppercase {
  // font-size: 16px;
  // // letter-spacing: 0.1rem;
  // line-height: 1.3;
}
