.ant-rate {
  color: $rate-color;
  display: block;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;

  svg {
    fill: $rate-color;
  }
}

.ant-rate-disabled {
  .ant-rate-star {
    cursor: not-allowed;

    &:hover {
      transform: scale(1);
    }
  }
}

.ant-rate-star {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  position: relative;

  svg {
    fill: inherit;
    transition: fill 0.3s;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.ant-rate-star-first,
.ant-rate-star-second {
  user-select: none;

  svg {
    fill: $rate-bg-color;
    transition: fill 0.3s;
  }
}

.ant-rate-star-focused {
  transform: scale(1.1);
}

.ant-rate-star-first {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50%;
}

.ant-rate-star-half {
  .ant-rate-star-first,
  .ant-rate-star-second {
    opacity: 1;
  }

  .ant-rate-star-first {
    svg {
      fill: currentColor;
    }
  }
}

.ant-rate-star-full {
  .ant-rate-star-second {
    svg {
      fill: currentColor;
    }
  }
}

.ant-rate-text {
  display: inline-block;
  font-size: 1rem;
  margin-left: 8px;
}
