@import 'stylesheets/variables';

.sc-header {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  position: relative;
}

.sc-header--team-name {
  &:hover {
    background: #4882ed;
  }
}

.sc-header--close-button {
  background-color: transparent;

  &:hover {
    background: #4882ed;
  }
}

@media (max-width: 450px) {
  .sc-header {
    border-radius: 0px;
  }
}
