$launcher-size: 60px !default;
$launcher-gutter: 25px !default;
$icon-size: 40px !default;

.sc-launcher {
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  bottom: $launcher-gutter;
  box-shadow: none;
  height: $launcher-size;
  margin: 0;
  padding: 0;
  position: fixed;
  right: $launcher-gutter;
  transition: box-shadow 0.2s ease-in-out;
  width: $launcher-size;
  z-index: 20;

  &::before {
    border-radius: 50%;
    content: '';
    display: block;
    height: $launcher-size;
    position: relative;
    transition: box-shadow 0.2s ease-in-out;
    width: $launcher-size;
  }

  .sc-open-icon,
  .sc-closed-icon {
    bottom: $launcher-size - $launcher-gutter;
    height: $icon-size;
    position: fixed;
    right: $launcher-size - $launcher-gutter;
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
    width: $icon-size;
  }

  .sc-closed-icon {
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  }

  .sc-open-icon {
    box-sizing: border-box;
    opacity: 0;
  }

  &.opened {
    .sc-open-icon {
      opacity: 1;
      transform: rotate(-90deg);
    }

    .sc-closed-icon {
      opacity: 0;
      transform: rotate(-90deg);
    }

    &::before {
      box-shadow: 0 0 400px 250px rgba(148, 149, 150, 0.2);
    }
  }

  &:hover {
    box-shadow: 0 0 27px 1.5px rgba(0, 0, 0, 0.2);
  }
}

.sc-new-messages-count {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
  height: 22px;
  justify-content: center;
  left: 41px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 22px;
}
