.mentions {
  // margin: 1em 0;
}

.mentions--singleLine .mentions__control {
  // display: inline-block;
  // width: 130px;
}
.mentions--singleLine .mentions__higlighter {
  // padding: 1px;
  // border: 2px inset transparent;
}
.mentions--singleLine .mentions__input {
  // padding: 1px;
  // border: 2px inset;
}

.mentions--multiLine .mentions__control {
  // padding: 1rem;
  // font-family: monospace;
  // font-size: 14pt;
  // border: 1px solid silver;
}
.mentions--multiLine .mentions__highlighter {
  padding: 1rem;
  // padding: 9px;
}
.mentions--multiLine .mentions__input {
  padding: 1rem;
  // padding: 9px;
  // min-height: 63px;
  // outline: 0;
  // border: 0;
}

.mentions__suggestions {
  bottom: 100%;
  margin: 0;
  position: absolute;
  top: auto !important;
  width: 100%;
}

.mentions__suggestions__list {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  bottom: 100%;
  top: auto !important;
  margin: 0;
  // min-height: 300px;
  // position: 'fixed';
  left: 0;
  // height: 'auto';
  width: 100%;
  position: absolute;
  // display: block;
  // z-index: 1;
  max-height: 200px;
  overflow: auto;
}

.mentions__suggestions__item {
  // padding: 5px 15px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
  background-color: #cee4e5;
}

.mentions__mention {
  // background-color: #cee4e5;
}
