$actionbar-bg-color: #fff;

.app-actionbar {
  background: $actionbar-bg-color;
  bottom: 0;
  // box-shadow: 0 -9px 71px #999;
  padding: 16px 0;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
