.notification-bar {
  background: #212121;
  border-radius: 5px;
  bottom: 2rem;
  box-shadow: 0 0 1px 1px rgba(10, 10, 11, 0.125);
  color: #fafafa;
  cursor: default;
  left: -100%;
  margin: 0;
  padding: 1rem;
  position: fixed;
  transform: translatez(0);
  transition: 0.5s cubic-bezier(0.89, 0.01, 0.5, 1.1);
  width: auto;
  z-index: 200;

  &.notification-bar-active {
    left: 2rem;
  }
}
